* {
	font-family: 'Coming Soon', cursive;
	margin: 0;
	padding: 0;
}

html {
	background-color: #292929;
	font-size: 1.5em;
	color: #dcdcdc;
}

#forTable {
	margin-left: 25%;
	margin-top: 10%;
	position: relative;
    width: 50%;
}

#forTable::before {
	content: "";
    display: block;
    padding-top: 100%;
}

table {
	/*height: 100%;
	width: 100%;*/
	position: absolute;
    top:      0;
    left:     0;
    bottom:   0;
    right:    0;
	min-height: 960px;
	min-width: 960px;
}

td {
	background-color: #dcdcdc;
}

td.black {
	background-color: #292929;
}
